header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin-right: 20px;
}
nav a {
	color: #fff;
	text-decoration: none;
}
.posts {
    margin: 20px;
}

.last {
    margin-left: auto;
}

.post img {
	margin: 0 20px 20px 0;
	max-width: 150px;
}

.info-post {
    font-size: 1rem;
}

.form-label {
    display: inline-block;
    min-width: 100px;
    vertical-align: top;
}
.list-pages li {
	display: inline-block;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}