.start {
    margin: auto;
    display: flex;
}
.last {
    margin-left: auto;
}

.blog {
    position: absolute;
    top: 50%;
}


.form-input {

}

.img-article-left {
    width: 500px;
}

.info-post {
    font-size: 1rem;
}