{% extends 'startpage/base.html' %}

{% block content %}
    <p>Блог о знаменитых женщинах - это онлайн-ресурс, посвященный знаменитым женщинам мира. На нашем сайте вы найдете статьи о певицах, актрисах, моделях, спортсменках и других знаменитых женщинах, которые оставили свой след в истории.</p>
    <p>Наша цель - поделиться историями и достижениями знаменитых женщин, а также вдохновить наших читателей на новые достижения. Мы постоянно добавляем новые статьи и обновляем информацию, поэтому заходите на наш сайт чаще!</p>
{% endblock content %}