{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'startpage/css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Блог о известных женщинах</h1>
        <nav>
                <ul>
                    {% for m in spisok %}
                        <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>

                    {% endfor %}
                </ul>

    
        {% if request.user.is_authenticated %}
            <li class="last"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
        </nav>
    </header>
    {% if cat_selected == 0 %}
        <li class="selected">Все категории</li>
    {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li>
    {% endif %} 
    {% for c in cats %}
        {% if c.women__count > 0 %}
            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endif %}
    {% endfor %}




    {% block mainmenu %}


    {% endblock mainmenu%}
    {% block content %}

    {% endblock content%}
    {% if page_obj.has_other_pages %}
    

    <div class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            {% endif %} 
            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>

            {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            
            {% endif %} 

        </ul>
    </div>
    {% endif %}
    <footer>
		<p>&copy; Блог о знаменитых женщинах, 2023</p>
	</footer>
</body>
</html>