{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'startpage/css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="start">
    {% for m in spisok %}
        <h3><li><a href="{% url m.url_name %}">{{ m.title }}</a></li></h3>

    {% endfor %}
    </div>
    {% if cat_selected == 0 %}
        <li class="selected">Все категории</li>
    {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li>
    {% endif %} 
    {% for c in cats %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
    {% endfor %}




    {% block mainmenu %}


    {% endblock mainmenu%}
    {% block content %}

    {% endblock content%}
</body>
</html>