{% extends 'startpage/base.html' %}

{% block content %}
    <div><h1>Блог известных женщин</h1></div>
    <div class="posts">
    <h4>
        {% for foo in posts%}
            {% if foo.photo %}
                <p><img class="img-article-left" src="{{ foo.photo.url }}" alt=""></p>
            {% endif %}
            <li class="info-post">{{ foo.title }}
            {{foo.content|truncatewords:50}}
            </li>
            <br>
            <a href="{{ foo.get_absolute_url }}">Читать пост</a>

        {% endfor %}
        <br>

    </h4>
    </div>


    <br>
{% endblock %}